In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv('tir.txt',header=None,names=['x','y','v','can','angle'],na_values='None')
dt.head()

    x  y   v    can      angle
0  22  2  14  False        NaN
1  17 -2  11  False        NaN
2  35 -2  13  False        NaN
3  17  1  16   True  24.261790
4  18  5  18   True  33.984204

In [3]:
dt = dt.drop(columns=['angle'])
dt.shape

(200, 4)

In [4]:
dt.head()

    x  y   v    can
0  22  2  14  False
1  17 -2  11  False
2  35 -2  13  False
3  17  1  16   True
4  18  5  18   True

In [5]:
from sklearn.naive_bayes import GaussianNB
modelGNB = GaussianNB()
modelGNB.fit(dt.iloc[:150,:-1],dt.iloc[:150,-1])

GaussianNB()

In [6]:
d = {}
d['class_prior'] = modelGNB.class_prior_.tolist()
d['classes'] = modelGNB.classes_.tolist()
d['sigma'] = modelGNB.sigma_.tolist()
d['theta'] = modelGNB.theta_.tolist()
d

{'class_prior': [0.4, 0.6],
 'classes': [False, True],
 'sigma': [[65.14972233484482, 10.965555668178181, 7.032222334844851],
  [92.23654332249917, 11.128889001511508, 9.862839618795457]],
 'theta': [[28.316666666666666, 0.03333333333333333, 12.966666666666667],
  [16.91111111111111, -0.4, 17.322222222222223]]}

In [7]:
import json 
with open('tir.json', 'w') as f:
    json.dump(d, f, indent = 4)